.form {
	text-align: right;
      }
      
      .form button {
	font: inherit;
	cursor: pointer;
	background-color: #0082Bc;
	border: 1px solid #17729c;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
      }
      
      .form button:hover,
      .form button:active {
	background-color: #0082Bc;
	border-color: #0f4158;
      }